.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 13px #9c9999;
    width: 65%;
    margin: 20px auto 40px;
    color: var(--color-login-txt);
  }
 .btn a{
    color: #ffff;
    text-decoration: none;
 }
.post h3{
    text-align: center;
}
.icons{
    display: flex;
    justify-content: right;
    gap: 10px;
}
.title h3{
    text-align: center;
    color: var(--color-login-txt);
}
.title button{
    margin-left: 20rem;
    margin-bottom: 30px;
}
.post p{
    font-size: 24px;
}

/* updatestyle.css  */

.container {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .edith1 {
    text-align: center;
    color: #333;
  }
  
  .answer_edit {
    display: flex;
    flex-direction: column;
    
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  .description {
    height: 100px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .updateButton {
    background-color: #4caf50;
    color: #fff;
    padding: 20px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 100;
  }
  
  .updateButton:hover {
    background-color: #45a049;
  }
@media screen and (max-width: 780px){
    .title button{
        margin-left: 5rem;
        margin-bottom: 30px;
    }
}